*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }


h1{
    position: absolute;
    font-size: 180px;
    top: 1%;
    color: #e3d2e2;
    opacity: 0.5;
   }

   img{
    margin-top: 20%;
    margin-bottom: 20px;
   }

h4 {
    position: absolute;
    font-size: 30px;
    top: 70%;
    color: grey;
    opacity: 0.9;
}
